<div align = "center">
<h1>Keiko's App</h1>
<p>お気に入りのお店を登録しよう</p>
<%= image_tag 'IMG_1675.JPG', :width => '350', :height => '350' %>
<br>
<br>
<%= link_to image_tag('shop.png', :width => '50', :height => '50'), '/shops' %>
<%= link_to image_tag('pencil.jpg', :width => '50', :height => '50'), '/shops/new' %>
</div>
